@import "var";
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url("../fonts/#{file_name}.woff") format("woff"),
      url("../fonts/#{file_name}.woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@mixin fontstyle($weight, $size, $line) {
  font-family: "Roboto";
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  line-height: $line;
}
